
.postCard {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px; 
  margin-top: 20px;    
  min-height: 300px;
  width: 75%;
  margin: 20px auto;
}

.postCard:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
}

.postContent {
  justify-content: center;
  overflow-wrap: break-word; 
}

.postContent img, 
.postContent video,
.postContent iframe {
  max-width: 100%; 
  height: auto; 
  border-radius: 10px;
}

.videoContainer {
  width: 100%;
  margin-top: 10px;
}
