.comment {
    margin-bottom: 10px;
}
  
.comment p {
  padding: 10px;
  margin: 0;
}
  
.comment p:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.comment strong {
  font-weight: 500;
}