.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    background-color: #f0f0f0;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.125);
    padding: 20px;
    max-height: 80px; /* Adjust the value as needed */
    overflow: hidden;
}

h2 {
    color: black;
}

.logo {
    color: #FF6E05;
    height: 30px;
    display: flex;
    align-items: center;
    width: 25%;
}

.searchbar {
    flex-grow: 1;
    flex-basis: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 25%;
    margin-left: 25%;
}

.searchbar:hover {
    border: 1px solid #999; 
}
  
.searchbar:focus {
    outline: none;
    border: 1px solid #007bff; 
}
  
.searchBarContainer {
    width:100%;
}

.searchIcon {
    margin-left: 10px;
    background-color: transparent;
    ;border: none;
    cursor: pointer;
}