.appContainer {
    display: grid;
    grid-template-rows: 1fr;
    position: relative;
    width: 100%;
    background-color: #f7f7f7;
}
  
.contentContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    overflow-x: hidden;
}